@media screen and (max-width:768px){
    
    .media768 {
        display: flex;
    }
    /* index */
    .media320 {
        display: none;
    }

    #carouselExampleRide {
        width: 100%;
    }
    /* body */
    body {
        height: 100%;
    }
    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* position: absolute; */
        width:100%;
        bottom: 0;
    }
    footer h3 {
        font-size: 22px;
    }
    footer h4 {
        font-size: 16px;
        margin-left: 10px;
        }
    .tituloFooter {
        display: none;
    }
    .tituloFooter2 {
        display: block;
        font-size: 28px;
        margin-top: 15px;
        justify-content: center;
    }
    .contacto {
        flex-direction: column;
    }
    .contacto img {    
        width: 30px;
        margin-bottom: 5px;       
    }
    .logosFooter{
        flex-direction: row;
        align-items:center;          
        margin: 0; 
    }

/* sorteos */

    /* nosotros */
    .mainNosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mainNosotros h2 {
        font-size: 42px;
        margin: 0px;
    }
    .nosotros {
        display: flex;
        flex-direction: column;
        margin: 25px;
        justify-content: center;
    }
    .mainNosotros .media768 { 
        justify-content: center;
        margin: 5px 25px 5px 25px;
    }
    .textoMedia768 {       
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }
    .textoMedia768 h3 {
        font-size: 25px;
        margin-top: 10px;
    }
    .textoMedia768 p {
        font-size: 16px;
        margin: 10px;
        text-align: center;
        
    } 
    .textoMedia768 {
        display: flex;
        width: 85vw;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .textoMedia768 div {
        display: flex; 
        justify-content: center;
        margin-top: 10px;
        
    }
    .nosotros div img {
            width: 80vw;
            margin:20px;
            justify-content: center;
    }
    .textoNosotros .textoMedia768 div {
        display: flex;
        justify-content: center;
    }
    .videoNosotros {
        width: 90vw;
        height: 100%;
        margin-top: 2px;
        border: none;
    }
    /* menu hamburguesa header */
    header label {
        display: block;
        position: relative;
        height: 100%;
        width: 40px;
        margin-top: -50px;
        padding-bottom: 10px;
    }
    header label img {
        width: 40px;
    }
    .navegacion1 {
        flex-direction: column;
        padding: 0;
    }
    .navlista1 {
        position: absolute;
        top: 0 px;
        background-color: #cbfccb;
        visibility:hidden;
        border: solid 1px #335133;
        border-radius: 5px;
        margin-left: 5px;       
    }
    .lista1 {
        margin: 5px 10px 5px 10px;
       
    }
    .lista1 a {
        padding: 0;
        font-size: 20px;
    }
    #btn_menu:checked~.navlista1{
        visibility: visible;
        z-index: 9;
        margin-left: 20px;
    }
    
    .navbar .headerNav{
        position: absolute;
        visibility: visible;
        z-index: 20;
        margin-top: -55px;
        /* margin-left: 10px; */
        width: 100%;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;
    }
   .nav-item {
        text-align: start;
    }

    .desk {
        display: none;
    }
    .deskSorteo {
        display: none;
    }
    .media {
        display: flex;
        margin: 0;
    }
    .carrito {
        display: none;
    }
    .media img {
        width: 100px; 
        display: flex;
        margin: 5px;
    }
    .media320 {
        display: none;
    }

    /* navbar */
    .navbar{
        border-top: #335133 solid 2px;
        border-bottom:  #335133 solid 2px;
        display: flex; 
        flex-direction: column; 
    }
    
    .carrito{
        display: none;
    }
    .nav-item {
        margin: 0px 10px 0px 10px;
        font-size: px;
    }
    .navbar-toggler {
        border: none;
    }
    /* filtros de tienda */
    .filtroMedia768 {
        display: flex;
    }
    .navbar .container-fluid .filtro{
        display: flex;
        justify-content: center;
    }
    
    .navbar-brand {
            font-family: ubuntu;
            font-size: 20px;
            margin-left: 20px;
            font-weight: bold;
            color: #335133;
            width: 10vw;
    }
    .dropdown {
        width: 35vw;
    } 
    .dropdown-menu {
            background-color: #cbfccb;
           
            width: 35vw;
    }
    .filtro{
        align-items: center;
    }
    
    .filtro ul {
        padding: 0px;
        margin: 0px;
    }

    .filtro .nav-item {
        margin: 0px 10px 0px 10px;
        font-size: 16px;
    }
    .dropdown-menu form{
        margin-left: 15px;
    }
    .dropdown-menu label{
        font-size: 16px;
        font-weight: bold;
    }
    .dropdown-menu .aplicarFiltros{ 
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .dropdown-menu .aplicarFiltros input {
        height: 28px;
        width: 70vw;
        margin:0px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: ;
    }
    .dropdown-menu .filtroPrecios {
        margin-bottom: 15px;
        justify-content: center;
    }
    .dropdown-menu .filtroPrecios input {
        margin-top: 15px;
        text-align: center;
        width: 80%;
    }
    .listaPrecio {
        display: flex;
        margin-left: 15px;
        margin-right: 15px;    
        justify-content: space-between;
    } 
    .dropdown-menu p{
        font-size: 16px;
        font-weight: bold;
    }
    .dropdown-menu li div input {
        width: 80%;
        align-items: center;
        margin-left: 20px; 
        margin-top: 15px;
        text-align: center;
        /* justify-content: center; */
               
    }
    /* html tienda */
    .card {
        margin-bottom: 18px;
        width: 16.5rem;
    }
    
    .cardsTienda {
        gap: 20px;
    }
    
    header {
        margin: 0px;
        margin-bottom: 10px;
    }
    /* html super ofertas */
    .superOfertas h3 {
        font-size: 30px;        
    }
    /* html sorteos */
    

    .textoSorteo1 {     
        font-size: 40px;
        font-weight: 800;
        margin: 0px 10px 0px 10px;
    }
    .textoSorteo2{
        font-size: 30px;        
        margin: 0px 15px 0px 15px;
    }
    .formularioCompleto{
        flex-direction: column;
        margin: 15px;
        justify-content: center;
        align-items: center;
    }
    .formularioCompleto .media {
        flex-direction: column;
    }
    .formularioCompleto .media h4{
    font-size: 18px;
    text-align: center;
    margin: 20px 10px 10px 10px;
    }
    .formularioCompleto .media h5 {
    font-size: 14px;
    margin: 10px 15px 10px 10px;
    text-align: right;
    }
    
    .formularioSorteo {
        gap: 10px;
        margin: 5px;
        width: 85vw;
    }
    .formularioSorteo input{
        height: 35px;
        /* width: 100%; */
        border-radius: 8px;
    }
    .formularioCompleto .formularioSorteo label {
        font-size: 10px;
        margin-left: 30px;
        margin-bottom: 3px;
    }  
    .lateralFormulario div div img {
        width: 60vw;
        align-items: center;
    }
    
    .formularioCompleto .formularioSorteo .botonEnviar{
         width: 40vw;
        font-size: 15px;
    }
    .formularioCompleto .formularioSorteo .botonBorrar{
        width: 40vw;
        margin-left: 10px;
        font-size: 15px;
    }
    /* html contacto */
    .mainContacto h3 {
        font-size: 32px;
        margin: 20px 25px 20px 25px;
    }
    .mainContacto .formularioCompleto h4 {
        font-size: 18px;
        margin: 20px 10px 10px 10px;
    }
    .mainContacto .formularioCompleto h5 {
        font-size: 14px;
        margin: 5px 10px 5px 10px;
    }

    
    .formularioCompleto textarea {
        height: 200px;
        width: 100%;
        padding-right: 10px;
        margin-right: 10px;
        border-radius: 8px;
        border: 2px solid;
    }
    .mainContacto .formularioCompleto .lateralFormulario h5 {
        text-align: left;
        margin-left: 15px;
    }
    .mainContacto .formularioCompleto .lateralFormulario img {

    margin-bottom: 10px;
    }
    
    .mainContacto .formularioCompleto .contactoMedia {
        display: flex;
        justify-content: center;        
    }
    .mainContacto .formularioCompleto .contactoMedia div img{
        display: flex;
        justify-content: center;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        width: 80vw;
        margin-bottom: 15px;
    }
 








    

}