@media screen and (max-width:320px){
    .desk {
        display: none;
    }
    .media768 {
        display: none;
    }
    .media320 {display: flex;
    }    
    .contacto{
        display: none;
    }
    footer h3{
        font-size: 16px;
        text-align: center;
    }
    footer{
        background-color: #cbfccb;
        justify-content: center;
    }
    .contacto320 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 15px;        
    }
    .contacto320 a img{
        width: 25px;
        margin: 0px 5px 0px 5px;
        justify-content: center;
    }
    .tituloFooter2{
        display: none;
    }
    .tituloFooter3{
        display: flex;
        justify-content: center;
    }
    
    /* nosotros */
    .mainNosotros h2 {
        font-size: 32px;
    }
    .textoNosotros h3 {
        font-size: 20px;
        margin-top: 8px;
    }
    .textoNosotros p {
        font-size: 12px;
        margin: 0px 5px 0px 5px;
    }
    .textoMedia320 {
        width: 85vw;
    }
    .accordion-body{
        background-color: #cbfccb;
        justify-content: center;
    }
    .accordion-body p {
        color: #335133;
        font-size: 12px;
    }
    .accordion-button {
        background-color: #cbfccb;
        width: 80%;
        text-align: center;
        color: #335133;
        font-size: 12px; 
        height: 32px; 
        border: #cbfccb;
        
        --bs-accordion-active-bg: #cbfccb;
        --bs-accordion-btn-focus-border-color: #cbcbcb      
    }
    .accordion {
        display: flex;
        justify-content: center;
        --bs-accordion-active-bg: #cbfccb;
        --bs-accordion-btn-focus-border-color: #cbcbcb;
    }
    .accordion-item {
        width: 100vw;
        background-color: #cbfccb;
        border: #335133 solid 2px;
        height: auto;
        justify-content: center;
    }
    .accordion-header {
        background-color: #cbfccb;
        display: flex;
        justify-content: center;
    } 
    .accordion-collapse {
        background-color: #cbfccb;
        border: none;
    }
    .nosotros div iframe {
        width: 80vw;
    }
    .nosotros {
        justify-content: center;
    }
    
    
    .mainNosotros .media320 { 
        justify-content: center;
        margin: 3px 15px 2px 15px;
    }
    
    .textoMedia320 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .textoMedia320 h3 {
        font-size: 18px;
    }
    .textoMedia320 p {
        font-size: 12px;
        text-align: center;
    }
    /* navbar */
    .navbar{
        border-top: #335133 solid 2px;
        border-bottom:  #335133 solid 2px;
        display: flex; 
        flex-direction: column; 
    }
    .navbar-toggler-icon{
        width: 20px;
        height: 20px;
    }
    .carrito{
        display: none;
    }
    .nav-item {
        margin: 0px 8px 0px 8px;
        font-size: 16px;
    }
    .container-fluid ul {
        
        padding: 0px;

    }

    /* filtros de tienda */
    .navbar{
        align-items: center;
    }
    
    .navbar-brand {display: none;
    }
    .dropdown-menu form{
        margin-left: 12px;
    }
    .dropdown-menu label{
        font-size: 12px;
        font-weight: bold;
    }
    .dropdown-menu .aplicarFiltros{ 
        margin-top: 15px;
    }
    .dropdown-menu .filtroPrecios {
        margin-bottom: 15px;
        justify-content: center;
    }
    .dropdown-menu .filtroPrecios input {
        margin-top: 15px;
        text-align: center;
        width: 80%;
    }
    .listaPrecio {
        display: flex;
        margin-left: 15px;
        margin-right: 15x;    
        justify-content: space-between;
    } 
    .dropdown-menu p{
        font-size: 12px;
    }
    .dropdown-menu li div input {
        width: 75%;
        align-items: center;
        margin-left: 25px;
        margin-top: 15px;       
    }
    .filtro .nav-item {
        margin: 0px 10px 0px 10px;
        font-size: 12px;
    }
    /* html tienda */
    .card h6 {
        font-size: 12px;
    }
    .card {
        width: 80vw;
        margin-bottom: 15px;
    }/* html super ofertas */
    .superOfertas h3 {
        font-size: 30px;
        
    }
    /* html super ofertas */
   
    .textoSorteo1 {     
        font-size: 28px;
        font-weight: 800;
    }
    .textoSorteo2{
        font-size: 22px;
        margin-bottom: 10px;
    }
    /* html sorteo */
    .textoSorteo1 {     
        font-size: 30px;
        font-weight: 800;
        margin: 0px 10px 0px 10px;
    }
    .textoSorteo2{
        font-size: 20px;        
        margin: 16px 16px 0px 16px;
    }
    
    .formularioCompleto{
        background-image: url(../imagenes/imagenesProyecto/sorteo2.jpeg);
        margin: 10px;
    }
    
    .formularioCompleto .media h4{
        background-color: #cbfccb;
        font-size: 16px;;
    }
    .formularioCompleto .media h5 {
        background-color: #cbfccb;
        font-size: 12px;
    }
    .formularioSorteo {
        gap: 5px;
        margin: 5px;
        width: 90vw;
    }
    .formularioSorteo input{
        height: 30px;
    }
    .formularioCompleto .formularioSorteo label {
        font-size: 8px;
        margin-left: 20px;
        margin-bottom: 2px;
        background-color: #cbfccb;
    }
    .formularioCompleto .formularioSorteo .botonEnviar{        
       font-size: 12px;
   }
   .formularioCompleto .formularioSorteo .botonBorrar{
       font-size: 12px;
   }
   
    .lateralFormulario div div img {
        display: none;
    } 
    
    
    /* html contacto */
    .mainContacto h3 {
        font-size: 24px;
        margin: 20px;
    }
    .mainContacto .formularioCompleto{
        background-image: none;
    }
}