@media screen and (max-width:768px){
    /* index */

    #carouselExampleRide {
        width: 100%;
    }
    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer h3 {
        font-size: 22px;
    }
    footer h4 {
        font-size: 16px;
        margin-left: 10px;
        }
    .tituloFooter {
        display: none;
    }
    .tituloFooter2 {
        display: block;
        font-size: 28px;
        margin-top: 15px;
        justify-content: center;
    }
    .contacto {
        flex-direction: column;
    }
    .contacto img {    
        width: 30px;
        margin-bottom: 5px;       
    }
    .logosFooter{
        flex-direction: row;
        align-items:center;          
        margin: 0; 
    }




    /* nosotros */
    .nosotros{
        width: 100vw;
        flex-direction: column;    
        margin: 5px;}    
    .nosotros .textoNosotros{
        width: 80vw;
        margin: 0;
    }
    .textoNosotros h3 {
        font-size: 25px;
        margin-top: 10px;
    }
    .textoNosotros p {
        font-size: 20px;
        margin: 5px;
    } 
    .nosotros div img {
            width: 75vw;
            margin:25px;
    }
    .videoNosotros {
        width: 80vw;
        height: 100%;
        margin-top: 2px;
    }
    /* menu hamburguesa header */
    header label {
        display: block;
        position: relative;
        height: 100%;
        width: 40px;
        margin-top: -50px;
        padding-bottom: 10px;
    }
    header label img {
        width: 40px;
    }
    .navegacion1 {
        flex-direction: column;
        padding: 0;
    }
    .navlista1 {
        position: absolute;
        top: 0 px;
        background-color: #cbfccb;
        visibility:hidden;
        border: solid 1px #335133;
        border-radius: 5px;
        margin-left: 5px;       
    }
    .lista1 {
        margin: 5px 10px 5px 10px;
       
    }
    .lista1 a {
        padding: 0;
        font-size: 20px;
    }
    #btn_menu:checked~.navlista1{
        visibility: visible;
        z-index: 9;
        margin-left: 20px;
    }
    .desk {
        display: none;
    }
    .media768 {
        display: flex;
    }
    .media {
        display: flex;
        margin: 0;
    }
    header {
        margin-top: 10px; 
    }
    .headerfixed {
        margin-bottom: 10px; 
    }
    .carrito {
        display: none;
    }
    .media img {
        width: 100px; 
        display: flex;
        margin: 5px;
    }
}